//----------------------------------*\
// BASE
//----------------------------------*/

header {

}

.header-left {
  background: #362B3B;
  height: 160px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.logo {
  display: flex;
  height: 45px;
  padding-left: 3px;

  &:hover {
    & > svg {
      fill: #fff;
    }

    animation: neon1 1.5s ease-in-out 1 alternate forwards;
  }

  & > svg {
    transition: all .5s .01s;
    fill: #eee;

    &:first-child {
      margin-right: -97px;
    }
  }

  &-littleninja {
    transform: scale(0.05);
  }

  &-stereokai {
    transform: scale(0.2);
  }
}

body {
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.holygrail {
  display: flex;
  flex: 1 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  position: relative;
  min-height: 1rem;
  margin-bottom: 0;
  padding: 1rem;
}

div.wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  width: 100%;
  max-width: 800px;
  padding: 0;
}

.main-menu {
  width: 200px;
  background: #262626;
}

.content {
  width: calc(100% - 200px);
  // background: rgba(240, 240, 240, 0.05);
}


.nav-item {
  line-height: 19px;
  font-size: 12px;
  text-transform: uppercase;
  // letter-spacing: 1px;
  font-family: 'Trade Gothic', 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;

  @each $name, $color in $monokai {
    &.#{"-"}#{$name} {
      color: saturate(monokai-dark($name), 15%);

      &:hover {
        color: $color;
        // color: lighten(adjust-hue(saturate($color, 20%), -3deg), 10%);
      }
    }
  }
}

.nav-list {
  padding: 30px 25px;
}

@-webkit-keyframes neon1 {
  from {
    filter:
      drop-shadow(0 0 1px  #fff)
      drop-shadow(0 0 2px  #fff)
      drop-shadow(0 0 3px  #fff)
      drop-shadow(0 0 4px  rgba(255, 17, 119, 0.3))
      drop-shadow(0 0 7px  rgba(255, 17, 119, 0.3))
      drop-shadow(0 0 10px  rgba(255, 17, 119, 0.3))
      drop-shadow(0 0 15px rgba(255, 17, 119, 0.1))
      drop-shadow(0 0 20px rgba(255, 17, 119, 1));
  }
  to {
    filter:
      drop-shadow(0 0 1px  #fff)
      drop-shadow(0 0 2px  rgba(255, 255, 255, 0.5))
      drop-shadow(0 0 3px  rgba(255, 255, 255, 0.5))
      drop-shadow(0 0 2px  rgba(255, 17, 119, 0.3))
      drop-shadow(0 0 4px  rgba(255, 17, 119, 0.3))
      drop-shadow(0 0 6px  rgba(255, 17, 119, 0.3))
      drop-shadow(0 0 8px  rgba(255, 17, 119, 0.1))
      drop-shadow(0 0 11px rgba(255, 17, 119, 1));
  }
}

@-webkit-keyframes beacon {
  from {
    -webkit-filter:
               drop-shadow(0 0 10px #fff)
               drop-shadow(0 0 20px  #fff)
               drop-shadow(0 0 30px  #fff)
               drop-shadow(0 0 40px  #FF1177)
               drop-shadow(0 0 70px  #FF1177)
               drop-shadow(0 0 80px  #FF1177)
               drop-shadow(0 0 100px #FF1177)
               drop-shadow(0 0 150px #FF1177);
  }
  to {
    -webkit-filter:
               drop-shadow(0 0 5px #fff)
               drop-shadow(0 0 10px #fff)
               drop-shadow(0 0 15px #fff)
               drop-shadow(0 0 20px #FF1177)
               drop-shadow(0 0 35px #FF1177)
               drop-shadow(0 0 40px #FF1177)
               drop-shadow(0 0 50px #FF1177)
               drop-shadow(0 0 75px #FF1177);
  }
}


//----------------------------------*\
// MQ: SMALL
//----------------------------------*/

//----------------------------------*\
// MQ: MEDIUM
//----------------------------------*/

//----------------------------------*\
// MQ: MEDIUM-B
//----------------------------------*/

//----------------------------------*\
// MQ: WIDE
//----------------------------------*/

//----------------------------------*\
// MQ: SUPERWIDE
//----------------------------------*/
