//----------------------------------*\
// BASE
//----------------------------------*/

$ease-in-quint:  cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);

%header {
  background: #362B3B;
  height: 160px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.header-left {
  @extend %header;

  @media only screen and (max-width: 1024px) {
    transform: translateX(.5rem);
    background: #262626;
  }
}

.header-right {
  @extend %header;

  width: calc(200px + 1rem);
  padding-left: 1rem;

  @media only screen and (min-width: 1025px) {
    visibility: hidden;
  }
}

.logo {
  display: flex;
  height: 45px;
  padding-left: 3px;

  &:hover {
    > svg {
      fill: #fff;
    }

    animation: neon1 1.5s ease-in-out 1 alternate forwards;
  }

  > svg {
    transition: fill .5s .01s;
    fill: #eee;

    &:first-child {
      margin-right: -97px;
    }
  }

  &-littleninja {
    transform: scale(0.05);
  }

  &-stereokai {
    transform: scale(0.2);
  }
}

body {
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.holygrail {
  display: flex;
  flex: 1 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  position: relative;
  min-height: 1rem;
  margin-bottom: 0;
  padding: 1rem;
}

div.wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  width: 100%;
  padding: 0;

  @media only screen and (min-width: 1025px) {
    max-width: 800px;
  }

  @include css-toggle-event-handler() {
    + .main-menu {
      @media only screen and (max-width: 1024px) {
        transition-timing-function: $ease-out-quint;
        transform: translate(0);

        > .menu-toggle {
          > .nav-item {
            &:first-child {
              display: none;
            }

            &:nth-child(2) {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

.main-menu {
  @media only screen and (max-width: 1024px) {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;

    width: calc(200px + 1rem);
    padding-right: 1rem;

    z-index: 10;
    transform: translate(-100%);

    transition: transform .3s $ease-in-quint;
  }

  width: 200px;
  background: #262626;
}

.menu-toggle {
  @media only screen and (min-width: 1025px) {
    display: none;
  }

  position: absolute;
  z-index: 50;
  width: 5rem;
  height: 5rem;

  right: 0;
  transform: translateX(100%);

  > .nav-item {
    display: inline-block;
    transform: rotate(90deg);
    left: 2rem;
    background: #262626;
    height: 2rem;
    width: 5rem;
    position: absolute;
    top: 0;
    transform-origin: top left;
    text-align: center;

    &:nth-child(2) {
      display: none;
    }
  }
}

.content {
  width: 100%;

  @media only screen and (min-width: 1025px) {
    width: calc(100% - 200px);
  }
}

.nav-item {
  line-height: 19px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .02rem;
  font-family: 'Trade Gothic', 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;

  @each $name, $color in $monokai {
    &.#{"-"}#{$name} {
      color: saturate(monokai-dark($name), 15%);

      &:hover {
        color: $color;
        // color: lighten(adjust-hue(saturate($color, 20%), -3deg), 10%);
      }
    }
  }
}

.nav-list {
  padding: 30px 25px;
}

@-webkit-keyframes neon1 {
  from {
    filter:
      drop-shadow(0 0 1px  #fff)
      drop-shadow(0 0 2px  #fff)
      drop-shadow(0 0 3px  #fff)
      drop-shadow(0 0 4px  rgba(255, 17, 119, 0.3))
      drop-shadow(0 0 7px  rgba(255, 17, 119, 0.3))
      drop-shadow(0 0 10px  rgba(255, 17, 119, 0.3))
      drop-shadow(0 0 15px rgba(255, 17, 119, 0.1))
      drop-shadow(0 0 20px rgba(255, 17, 119, 1));
  }
  to {
    filter:
      drop-shadow(0 0 1px  #fff)
      drop-shadow(0 0 2px  rgba(255, 255, 255, 0.5))
      drop-shadow(0 0 3px  rgba(255, 255, 255, 0.5))
      drop-shadow(0 0 2px  rgba(255, 17, 119, 0.3))
      drop-shadow(0 0 4px  rgba(255, 17, 119, 0.3))
      drop-shadow(0 0 6px  rgba(255, 17, 119, 0.3))
      drop-shadow(0 0 8px  rgba(255, 17, 119, 0.1))
      drop-shadow(0 0 11px rgba(255, 17, 119, 1));
  }
}

@-webkit-keyframes beacon {
  from {
    -webkit-filter:
               drop-shadow(0 0 10px #fff)
               drop-shadow(0 0 20px  #fff)
               drop-shadow(0 0 30px  #fff)
               drop-shadow(0 0 40px  #FF1177)
               drop-shadow(0 0 70px  #FF1177)
               drop-shadow(0 0 80px  #FF1177)
               drop-shadow(0 0 100px #FF1177)
               drop-shadow(0 0 150px #FF1177);
  }
  to {
    -webkit-filter:
               drop-shadow(0 0 5px #fff)
               drop-shadow(0 0 10px #fff)
               drop-shadow(0 0 15px #fff)
               drop-shadow(0 0 20px #FF1177)
               drop-shadow(0 0 35px #FF1177)
               drop-shadow(0 0 40px #FF1177)
               drop-shadow(0 0 50px #FF1177)
               drop-shadow(0 0 75px #FF1177);
  }
}

.show-grid {
  background-image: -webkit-linear-gradient(top, cyan 0, rgba(255,255,255,0) 1px);
  background-image: -moz-linear-gradient(top, cyan 0, rgba(255,255,255,0) 1px);
  background-image: -o-linear-gradient(top, cyan 0, rgba(255,255,255,0) 1px);
  background-image: linear-gradient(to bottom, cyan 0, rgba(255,255,255,0) 1px);
  background-repeat: repeat-y;
  background-size: 100% 1rem;
}
//----------------------------------*\
// MQ: SMALL
//----------------------------------*/

//----------------------------------*\
// MQ: MEDIUM
//----------------------------------*/

//----------------------------------*\
// MQ: MEDIUM-B
//----------------------------------*/

//----------------------------------*\
// MQ: WIDE
//----------------------------------*/

//----------------------------------*\
// MQ: SUPERWIDE
//----------------------------------*/
