$mq-breakpoints: (
  small:     700px,

  medium:    1024px,
  medium-b:  1048px,
  medium-c:  1280px, // not core

  wide:      1444px,
  wide-b:    1680px, // not core

  superwide: 1924px
);

// For debugging, enable:
// $mq-show-breakpoints: map_keys($mq-breakpoints);

$bar-ease-animation: transform .3s .3s linear;
$tg-gallery-ease-animation: margin-left .3s .3s linear;

$monokai: (
  green:   #a6e22d,
  cyan:    #66d9ef,
  magenta: #f92772,
  orange:  #fd9720,
  yellow:  #e6db74,
  violet:  #ae81ff
);

$monokai-dark: (
  green:   #859E51,
  cyan:    #51919E,
  magenta: #9E516C,
  orange:  #9E7A51,
  yellow:  #9E9751,
  violet:  #6C519E
);

@function monokai($color) {
  @return map-get($monokai, $color);
}

@function monokai-dark($color) {
  @return map-get($monokai-dark, $color);
}
